/* --- room --- */

.icon {
	background-image: url(https://i.imgur.com/vhbW0iI.png); 
}

#room .room-background {
	background: url(https://i.imgur.com/TdAXKlg.jpg) !important;
}

#room .icon.icon-room {
	background: url(https://i.imgur.com/3jLjL69.png);
}

#room-settings a:hover {
	color: #2ea8d1 !important;
	text-shadow: 0 0 5px;
}

#room-settings a:last-of-type {
    	display: none !important;
}

/* --- chat --- */

#chat a:hover {
	color: #2ea8d1 !important;
	text-shadow: 0 0 5px;
}

/* --- user menu --- */

#user-menu .avatar {
	linear-gradient(hsl(200,70%,20%), hsl(222, 100%, 67%)) !important;
	box-shadow: inset 0 0 30px #000;
}

/*#user-menu .avatar {
	background: linear-gradient(rgba(0,0,0,0) 70%, rgba(46, 168, 209, 0.4) 80%),
	linear-gradient(hsl(222, 100%, 67%), hsl(195, 64%, 50%)) !important;
	box-shadow: inset 0 0 30px #000;
}*/

/* --- footer --- */

#footer-user .is-staff .name { 
	color: #58f !important; 
}

/* --- OTHER COMPONENTS COLORS --- */

/*#playlist-button,
#rcs-progress-container .bar {
	background: #2ea8d1;
}

#user-menu .friends .count,
.app-right .friends .header i,
#friends-button .request-count,
#user-friends .tab-menu button .count {
	background: #58f;
}

#user-lists .header .button.room.selected,
#user-lists .header .button.staff.selected,
#user-lists .header .button.bans.selected,
#user-lists .header .button.waitlist-bans.selected,
#user-lists .header .button.mutes.selected,
#user-lists .header .button.ignored.selected {
    	border-bottom: 1px solid #2ea8d1;
}*/

/* --- CHAT --- */

/*#chat .welcome {
    	color: #2ea8d1;
    	border: #2ea8d1 1px solid;
}

#chat-input {
    	border-radius: 20px;
}

.focused {
	box-shadow: inset 0 0 0 1px #2ea8d1 !important;
}*/

/* --- DJ BUTTON --- */

/*#dj-button.is-join .left,
#dj-button.is-quit .left,
#dj-button.is-leave .left {
	background: #2ea8d1;
}

#dj-button {
	box-shadow: 0 0 10px #000;
}*/

/* --- RCS --- */

/*.icon-rcsmenu-main {
    	background: url(https://i.imgur.com/5S1UzEl.png) !important;
}

.icon-rcsmenu-notifications {
	background: url(https://i.imgur.com/NBle05S.png) !important;
}

.icon-rcsmenu-styling {
	background: url(https://i.imgur.com/Ddsz59Z.png) !important;
}
	
.icon-rcsmenu-customize {
	background: url(https://i.imgur.com/KpBIWw5.png) !important;
}
	
.icon-rcsmenu-moderation {
	background: url(https://i.imgur.com/IPs2ixJ.png) !important;
}
	
.icon-rcsmenu-settings {
	background: url(https://i.imgur.com/WzDiVGt.png) !important;
}*/

