/* --- ICONS --- */

.icon { 
    	background-image: url(https://i.imgur.com/NhwwFT3.png); 
}

/* --- CHAT --- */

#chat .welcome {
    	color: #2ea8d1;
    	border: #2ea8d1 1px solid;
}

#chat .from.staff .un { 
	color: #58f !important; 
}

#chat .user-action,
#chat .user-action .from.you .un,
#chat .cm.moderation .from.staff .un {
    	color: #ac76ff !important;
}

#chat .text a {
    	color: #2ea8d1 !important;
}

#chat-input {
    	border-radius: 20px;
}

.focused {
	box-shadow: inset 0 0 0 1px #2ea8d1 !important;
}

/* --- STAFF COLORS --- */

#user-rollover.is-staff .thumb, 
#waitlist .is-staff .thumb { 
	border-color: #58f !important; 
}

.is-staff .name,
#user-rollover.is-staff .username,
#user-rollover.is-staff .info .role span,
.user-content.profile .meta.is-staff .role span { 
	color: #58f !important; 
}

#user-lists .list.staff .group {
	color: #58f !important;
	background: linear-gradient(to right, rgb(0, 23, 47) 0, rgb(4, 25, 47) 100%) !important;
}

/* --- DJ BUTTON --- */

#dj-button {
	border-radius: 50px;
	box-shadow: 0 0 10px #000;
}

#dj-button .left {
	border-radius: 50px 0 0 50px;
	box-shadow: 0 0 10px #000;
}

/* --- WOOT, GRAB, MEH */

#vote {
	box-shadow: 0 0 10px #000;
	border-radius: 40px;
	width: 255px !important;
}

#app #vote .bottom {
	background: rgba(0,0,0,0);
}
#woot, #grab, #meh {
	margin-top: 0 !important;
}
#vote .selected,
#vote .selected .value {
	font-weight: bold;
	color: #fff;
}
.pop-menu, .pop-menu .bar {
	border-radius: 20px 20px 0 0;
	background: transparent;
}
.pop-menu .bar {
	background: linear-gradient(hsla(260,50%,50%,.8), hsla(260,50%,30%,.8));
}
.pop-menu .bar-divider {
	background: linear-gradient(hsla(0,0%,90%,.8), hsla(0,0%,60%,.8));
}
.pop-menu .menu ul {
	background: hsla(260,10%,7%,.8);
}
.pop-menu .menu ul i + span {
	font-weight: bold;
}
.pop-menu .menu ul li:hover {
	background: linear-gradient(hsla(260,50%,50%,.2), hsla(260,50%,30%,.2));;
}
.pop-menu .menu ul .create:hover {
	background: linear-gradient(hsl(260,40%,50%), hsl(260,40%,30%));
}
.pop-menu .menu::-webkit-scrollbar {
	background: hsl(260,10%,20%) !important;
	box-shadow: inset 0 0 10px #000;
	width: 10px;
}
.pop-menu .menu::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, hsl(260,40%,60%), hsl(260,40%,40%));
	box-shadow: inset 0 0 5px hsla(0,0%,100%,.3);
}
#woot {
	border-radius: 30px 0 0 30px;
	background: linear-gradient(135deg, hsla(0,0%,50%,.6), hsla(0,0%,30%,.6)) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
}
#woot.selected, #woot-rs .title {
	background: linear-gradient(135deg, hsla(90,80%,50%,.8), hsla(90,80%,30%,.8)) !important;
	box-shadow: inset 0 0 10px hsl(70,100%,40%) !important;
}
#grab {
	background: linear-gradient(hsla(0,0%,50%,.6), hsla(0,0%,30%,.6)) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
}
#grab.selected, #grab-rs .title {
	background: linear-gradient(hsla(270,70%,50%,.8), hsla(265,70%,30%,.8)) !important;
	box-shadow: inset 0 0 10px hsl(280,100%,40%) !important;
}
#meh {
	background: linear-gradient(225deg, hsla(0,0%,50%,.6), hsla(0,0%,30%,.6)) !important;
	box-shadow: inset 0 0 10px hsl(0,0%,40%) !important;
	border-radius: 0 30px 30px 0;
	margin-right: 0 !important;
}
#meh.selected, #meh-rs .title {
	background: linear-gradient(225deg, hsla(5,80%,50%,.8), hsla(0,80%,40%,.8)) !important;
	box-shadow: inset 0 0 10px hsl(15,100%,50%) !important;
}

/* --- ROOM --- */

#room .room-background {
    	background: url(https://i.imgur.com/TdAXKlg.jpg) no-repeat !important;
}

#room .icon.icon-room {
	background: url(https://i.imgur.com/3jLjL69.png) no-repeat !important;
}

#playlist-button,
#dj-button.is-join .left,
#dj-button.is-quit .left, 
#rcs-progress-container .bar,
.app-right .friends .header i {
	background: #2ea8d1;
}

#user-menu .friends .count,
#friends-button .request-count,
#user-friends .tab-menu button .count {
	background: #58f;
}

#user-lists .header .button.room.selected,
#user-lists .header .button.staff.selected,
#user-lists .header .button.bans.selected,
#user-lists .header .button.waitlist-bans.selected,
#user-lists .header .button.mutes.selected,
#user-lists .header .button.ignored.selected {
    	border-bottom: 1px solid #2ea8d1;
}

#room-settings .general-settings .description .value a:last-of-type {
    	display: none !important;
}

/* --- RCS --- */

.icon-rcsmenu-main {
    	background: url(https://i.imgur.com/5S1UzEl.png) !important;
}

.icon-rcsmenu-notifications {
	background: url(https://i.imgur.com/NBle05S.png) !important;
}

.icon-rcsmenu-styling {
	background: url(https://i.imgur.com/Ddsz59Z.png) !important;
}
	
.icon-rcsmenu-customize {
	background: url(https://i.imgur.com/KpBIWw5.png) !important;
}
	
.icon-rcsmenu-moderation {
	background: url(https://i.imgur.com/IPs2ixJ.png) !important;
}
	
.icon-rcsmenu-settings {
	background: url(https://i.imgur.com/WzDiVGt.png) !important;
}
